@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<AuthorizeView>
  <span>Welcome @context.User.FindFirst("FirstName")</span>  &nbsp; | &nbsp; <RadzenButton Click="Logout" class="mr-2" Text="Logout"></RadzenButton>
</AuthorizeView>

@code {
    async Task Logout(){
      await ((LocalAuthenticationStateProvider) AuthenticationStateProvider).LogoutAsync();
      NavigationManager.NavigateTo("/auth/login");
    }
}